body {
   margin: 0px;
   min-height: 100%;
   font-family: Bad Script;
   background: #91eae4;  
   background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
}

h1 {
   text-transform: uppercase;
   background-color: #86A8E7;
   color: white;
   margin: 0;
   padding: 10px 30px;
   font-weight: normal;
}

input {
   background-color: white;
   width: 100%;
   height: 50px;
   box-sizing: border-box;
   font-size: 25px;
   padding-left: 25px;
   border: 3px solid gray;
   color: gray;
}

input:focus, button:focus {
   background-color: #fff;
   border: 2px solid #86A8E7;
   color: #86A8E7;
   outline: none;
}

span{
   margin-right: 10px;
   text-align: center;
   height: 50px;
   opacity: 0;
   transition: .3s all;
}

i{
   cursor: pointer;
}

button {
   background-color: #86A8E7;
   border: none;
   color: #fff;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   font-size: 15px;
   border-radius: 5px;
   font-family: Bad Script;
   text-decoration: .4s;
   cursor: pointer;  
}

.filter{
   width: 32%;
}

button:hover{
   background-color: #fff;
   color: #000;
   border: 2px solid #86A8E7;
   
}


#todo{
   margin: 0 auto;
   max-width: 400px;
   height: 98%;
   background-color: #fff;
   position: relative;
   box-shadow: 0px 0px 10px #000;
}

#buttons{
   left: 0px;
   right: 0px;
   margin-right: 0px;
   margin-left: 0px;
   text-align: center;
   text-align: center;
   position: absolute;
   bottom: 5px;
}

.todos li {
   background-color: #e7e7e7;
}

.todos li:nth-child(2n){
   background-color: #f3f3f3;
}

.todos li:hover span{
   width: 50px;
   margin-left: 5px;
   opacity: 100;
}

.todos{
   list-style-type: none;
   margin: 0;
   padding: 0;
   height: 70%;
   overflow: auto;
}

.display{
   display: none;
   transition: 0.3 linear;
}

.checked p{
   color: grey;
   text-decoration: line-through;
}

.fa-pencil-alt{
   float: right;
   padding-top: 8px;
}

.fa-trash-alt {
   color: #86A8E7;
}

.changeItem {
   color: #7F7FD5;
   margin-left: 10%;
   font-family: sans-serif;
   text-decoration: none;
   cursor: pointer;
}

.content {
   display: inline;
}


.tipsBlock {
   display: none;
   position: absolute;
   top: 0px;
   background-color: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 100%;
}

@keyframes fromtop {
   0%{
      top: -1000px;
   }
   100%{
      position: absolute; 
   }
}


@keyframes totop {
   0%{
      position: absolute; 
   }
   100%{
      top: -1000px;
   }
}


.block{
   position: absolute; 
   top: 50%; left: 50%; 
   transform: translate(-50%, -50%);
}


.tips {
   position: relative;
   color: gray;
   font-size: 30px;
   padding: 0px;
   margin: 0px;
   list-style-type: none;
   width: 800px;
   top: 100%; left: 60%; 
   transform: translate(-50%, -0%);
} 


.closebtn {
   display: flex;
   justify-content: flex-end;
   font-size: 100px;
   line-height: 40px;
   margin: 10px 10px 0px 0px;
   padding: 0px;
}


.toTodos{
   display: none;
}

.analitic {
   display: none;
   height: 80%;
   overflow: auto;
}

.analitic h2 {
   width: 300px;
   margin-left: 20px;
   
}

.analUl li, .analUl2 li{
   font-family: 'Courier New', Courier, monospace, sans-serif;
}

.black {
   margin-left: 20px;
}

.black h4{
   font-family: 'Courier New', Courier, monospace, sans-serif;
   padding: 0px;
   margin: 0px;
}

.black p {
   font-family: 'Courier New', Courier, monospace, sans-serif;
   padding: 0px;
   margin: 0px;
}

.noData p {
   margin-left: 10px;
}